@charset "UTF-8";

ul{
	list-style: none;
	display: flex;
	justify-content : center;
}

/* Sub Menu CSS */

#Sub__Menu{
	position: fixed;
	right: 10px;
	top : 10px;
}

.Login__Item {
	font-size: small;
	margin: 0 10px;
	color : #635985;
	cursor: pointer;
}

/* Navbar CSS */

#Navbar {
	text-align: center;
}

.Navbar__Image{
	width :200px;
	height: 100px;
}

.Navbar__Menu{
	width : 100%;
	margin: 10px 0px;
	text-align: center;
}

.Menu__Items {
	width : 60%;
	margin : 10px auto;
	padding : 10px;
	border-radius: 50px;
	border : 1px solid pink;
	border-radius: 50px;
}

.Menu__Item{
	display:inline-block;
	margin: 0 20px;
	cursor: pointer;
}

/* Blank CSS */
#Blank {
	height : 10px;
}
